{{extend 'layout.html'}}
<h1>view</h1>

{{for mx in rows: }}
<div class='row'>
    <img class='col col-lg-4 col-md-4 col-sm-4' scr='{{=mx.blog_img}}' alt='blog img'/>

    <div class='col col-lg-8'>
        <P class='lead'>
            <b><a href='{{=mx.blog_url}}' target='_new'> {{=mx.blog_title}}</a></b>
        </P>
        <P>
            <b>Category:</b>
            {{=mx.blog_category}}
        </P>
        <p>
            {{=mx.blog_details}}
        </p>
        <p>
            {{=mx.blog_date_posted}}
        </p>
    </div>
    </div>
{{pass}}

